# Python cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# Virtual environment

venv/
env/
ENV/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# VS Code

.vscode/

# PyCharm

.idea/
